body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    margin: 0;
}

.main-container {
    align-items: center;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 25px;
    width: 100%;
}

.header {
    display: flex;
    gap: 16px;
    width: 1125px;
}

.header > span {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
    margin-right: auto;
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-links > li {
    list-style: none;
}

.header-links > li > a {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin: 100px;
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 475px;
}

.main-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.main-subtext {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0;
}

.main-button {
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    max-width: 100px;
    height: 25px;
    color: white;
    font-weight: bold;
}

.main-image {
    background-color: white;
    height: 200px;
    line-height: 200px;
    text-align: center;
    width: 475px;
}

.information-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 125px;
    width: 950px;
}

.information-container > p {
    align-self: center;
    font-size: 36px;
    font-weight: bold;
}

.information-item-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.information-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 165px;
}

.information-item > img {
    border: 4px solid #3882F6;
    border-radius: 15px;
    height: 150px;
    width: 150px;
}

.information-item > p {
    color: #1F2937;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

.quote-container {
    align-items: center;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-self: stretch;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 5px;
    width: 750px;
}

.quote-author {
    color: #1F2937;
    font-size: 36px;
    margin-top: 0;
    text-align: right;
    width: 750px;
}

.footer {
    align-self: stretch;
    background-color: #1F2937;
    margin-top: auto;
}

.footer > p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 36px 0;
    text-align: center;
}

.sign-up-box {
    align-self: center;
    justify-self: center;
    background: #3882F6;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 125px;
    padding: 15px 100px;
}

.sign-up-header {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.sign-up-subtext {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
    margin-top: 0;
}

.sign-up-button {
    align-self: center;
    border: 1;
    border-radius: 5px;
    border-style: solid;
    background: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    height: 25px;
    width: 100px;
}