body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    margin: 0;
}

.main-container {
    align-items: center;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 25px;
    width: 100%;
}

.header {
    display: flex;
    gap: 16px;
    width: 1125px;
}

.header > span {
    color: #F9FAF8;
    font-size: 24px;
    margin-right: auto;
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-links > li {
    list-style: none;
}

.header-links > li > a {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin: 100px;
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 475px;
}

.main-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.main-subtext {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
    margin: 10px 0;
}

.main-button {
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    max-width: 100px;
    height: 25px;
    color: white;
    font-weight: bold;
}

.main-image {
    background-color: white;
    height: 200px;
    line-height: 200px;
    text-align: center;
    width: 475px;
}

.footer {
    align-self: stretch;
    background-color: #1F2937;
    margin-top: auto;
}

.footer > p {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
    margin: 36px 0;
    text-align: center;
}